*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.blue{
    width: 100%;
    height: 100vh;
    background-color: #9cc3d5ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .watch{
    width: 300px;
    height: 300px;
    background-color: #0063b2ff;
    border-radius: 50px; 
} */
.box{
    width: 200px;
    height: 200px;
    border: 2px solid #0063b2ff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box p {
    font-size: xx-large;
    color: #001d35;
}
.boxContinar{
    display: flex;
    justify-content: center;
}
.btnDiv{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.bluebtn{
    width: 200px;
    height: 40px;
    margin-top: 50px;
    font-size: larger;
    background-color: #0063b2ff;
    color: #001d35;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
/* .red{
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 50px;
} */
 .red{
    width: 100%;
    height: 100vh;
    background-color: #FFF2D7;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .redbtn{
    width: 200px;
    height: 40px;
    margin-top: 50px;
    font-size: larger;
    background-color: #F98866;
    color: black;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
 }
 .unbox{
    width: 200px;
    height: 200px;
    border: 2px solid #F98866;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .unbox p {
    font-size: xx-large;
    color: #001d35;
}